body{
    background-color: #EAECEE;
    font-family: sans-serif;
}
form{
    margin: auto;
    margin-top: 5%;
    padding: 30px;
    background-color: white;
    width: 500px;
    border-radius: 20px;
    text-align: center;
}
.input{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: block;
    width: 80%;
    border-radius: 10px 10px 0px 0px;
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: #EAECEE;
    transition-duration: 0.4s;
}
.input:focus{
    padding: 14px;
    border: none;
    border-bottom: 2px solid #1B4F72;
    background-color: none;
}
input[type=submit]{
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #3498DB;
    transition-duration: 0.4s;
}
input[type=submit]:hover{
    background-color: #1B4F72;
}
input[type=reset]{
    width: 150px;
    padding: 10px;
    border: 1px solid #3498DB;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    transition-duration: 0.4s;
}
input[type=reset]:hover{
    color: white;
    background-color: #3498DB;
}
a{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #3498DB;
}