<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css1.css">
    <script src="js/script2.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="form1">
                <input type="text" id="cus_name" placeholder="username"><br>
                <input type="text" id="address" placeholder="address"><br>
                <input type="text" id="tel_no" placeholder="phone"><br>
                <input type="number" id="cus_type" placeholder="type number"><br>
                <button type="button" onclick="insert()">insert</button>
            </div>
        </div>
    </div>
    <br><div id="div1"></div>
</body>
</html>
<script src="js/modal.js"></script>