<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="script2.js"></script>
    <style>
        div{
            margin: auto;
            margin-top: 5%;
            padding: 10px;
            width: 200px;
        }
        input{
            margin-bottom: 10px;
        }
        button{
            width: 177px;
        }
    </style>
</head>
<body>
    <div>
        <input type="text" id="cus_name" placeholder="username"><br>
        <input type="text" id="address" placeholder="address"><br>
        <input type="text" id="tel_no" placeholder="phone"><br>
        <input type="number" id="cus_type" placeholder="type number"><br>
        <button type="button" onclick="insert()">insert</button>
        <br><div id="div1"></div>
    </div>
</body>
</html>